script#lets-get-started-template(type="text/x-template")
  img(src=" ../img/onefinity_logo.png" alt="logo" style = 'width:50%; margin-top:3em;')
    p(style="font-size:25px; font-family:sans-serif ; margin-top:2em ; padding: 0% 0% 0% 15%").
      Hi and welcome to Onefinity ! Thank you for being a part of our community. #[br] 
      We are happy to see you here!
    a(href="/next" style=" color:white ; background-color:#6F8DF5 ; font-size:20px; font-family:sans-serif ; margin-left:60em; margin-top:13em ; padding:12px ; border-radius:8%;text-decoration: none;") Let's Start >>