extends index 
block mainContent 

    .container
        admin-network-view
    #opt(style="display:flex; flex-direction:row ; justify-content: space-between; padding:3px ; width:50em;margin-top:25em;")
        a(href="/" style=" ") skip 
        a(href="/") next